COMPANY_NAME=~
JIRA_PROJECT_NAME=~
JIRA_API_LABEL=~
JIRA_API_PASSWORD=~
SLACK_BOT_USER_OAUTH_ACCESS_TOKEN=~
SLACK_MAPPING_IDS='{"fallback":"slack.group.id","jira.person.id":"slack.person.id"}'
DAYS_FOR_STATUS='{"To Do":6,"In Progress":4,"In Review":1,"IN QA":2,"Verified":1}'
JIRA_USERS_TO_IGNORE='[]'